.logo{
    position: fixed;
    top: 50px;
    left: 88px;
    z-index: 9999;
    transition: filter .5s ease-in;
}
.topmenu{
    position: fixed;
    top: 50px;
    right: 88px;
    z-index: 9999;
    cursor: pointer;
}
.topmenu.sub01{
    filter: invert(1);
}
.menu{
    position: fixed;
    top: 450px;
    left: 78px;
    padding: 10px;
    z-index: 9999;
    cursor: pointer;
    transform: scale(0.995);
}
.menu:hover{
    transform: scale(1.005);
}
.lng{
    position: fixed;
    left: 88px;
    bottom:80px;
    z-index: 9999;
    cursor: pointer;
}
.topbutton{
    position: fixed;
    right: 88px;
    bottom: 80px;
    z-index: 9999;
    cursor: pointer;
}
.topbutton:hover{
    filter: invert(100%);
}
.topbutton:active{
    transform: translateY(1px);
}