.logo{
    position: fixed;
    top: 80px;
    left: 88px;
    z-index: 9999;
}
.topmenu{
    position: fixed;
    top: 80px;
    right: 88px;
    z-index: 9999;
    cursor: pointer;
}
.menu{
    position: fixed;
    top: 450px;
    left: 78px;
    padding: 10px;
    z-index: 9999;
    cursor: pointer;
}
.menu:hover >img{
    transform: scale(1.03);
}
.lng{
    position: fixed;
    left: 88px;
    bottom:80px;
    z-index: 9999;
    cursor: pointer;
}
.topbutton{
    position: fixed;
    right: 88px;
    bottom: 80px;
    z-index: 9999;
    cursor: pointer;
}
.topbutton:hover{
    filter: invert(100%);
}