/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url(//db.onlinewebfonts.com/c/9a2bc11be56851dde98c1b49302cc21a?family=Gotham+Medium); */
/* video{
    display:none;
} */

#mega{
    position: fixed;
    left: 0;
    top: 0;
    min-width: 1920px;
    height: 100vh;
    display: flex;
    background: rgba(255,255,255,255);
    /*display: none;*/
    opacity: 0;
    z-index: -1;
    transition: all .5s;
}

#mega.on{
    opacity: 1;
    z-index: 999999;
}

.x_button{
    width: 26px;
    height: 26px;
    position: absolute;
    left: 90px;
    top: 448px;
}
/* left_area */
#mega #left_area{
    flex: 2;
    position: relative;
}

#left_area .menu_container{
    width: 943px;
    position: absolute;
    left: 180px;
    top: 60px;
}

#left_area .menu_container > div{
    height: 138px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
    opacity: 0.7;
}
#left_area .menu_container > div:hover {
    opacity: 1;
}

#left_area .menu_container > div:last-child{
    border-bottom: none;
}

#left_area .menu_container > div h2{
    margin-right: 50px;
}


#left_area .bottom{
    width: 363px;
    height: 42px;
    position: absolute;
    left: 150px;
    bottom: 100px;
}


#mega #left_area .submenu{
    width: 713px;
    height: 574px;
    position: absolute;
    left: 362px;
    top: 167px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mega #left_area .line{
    width: 955px;
    height: 420px;
    position: absolute;
    left: 158px;
    top: 242px;
}

/* right_area */

#mega #right_area{
    flex: 1;
    background-color: #000;
    position: relative;
}
#mega #right_area > div{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
}
#mega #right_area > div:first-child{
    display: block;
    z-index: 9999;
}

/*------------------------------------------------------------------------------------------------*/


body {
    position: relative;
}
#container{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    /* overflow-y: scroll; */
    /* scroll-snap-type: y mandatory; */
}
.section {
    min-width: 1920px;
    min-height: 980px;
    display: flex;
    position: relative;
    scroll-snap-align: end;
}

/*---------------------------------------------------------------------------------------------------------*/

#footer{
    width: 100vw;
    height: 686px;
    position: relative;
}

/* .pop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0;
    z-index: -1;
    transition: all .5s;
}
.pop.on{
    opacity: 1;
    z-index: 999999;
}
.pop .main{
    width: 600px;
    height: 300px;
    background: #fff;
} */