
#mega{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: rgba(255,255,255,255);
    /*display: none;*/
    opacity: 0;
    z-index: -1;
    transition: all .5s;
}

#mega.on{
    opacity: 1;
    z-index: 999999;
}

#mega #left_area{
    flex: 2;
    position: relative;
}

#left_area .menu_container{
    width: 943px;
    position: absolute;
    left: 180px;
    top: 60px;
}

#left_area .menu_container > div{
    height: 138px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
}

#left_area .menu_container > div:last-child{
    border-bottom: none;
}

#left_area .menu_container > div h2{
    margin-right: 50px;
}


#left_area .bottom{
    width: 363px;
    height: 42px;
    position: absolute;
    left: 150px;
    bottom: 100px;
}


#mega #left_area .submenu{
    width: 713px;
    height: 574px;
    position: absolute;
    left: 362px;
    top: 167px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mega #left_area .line{
    width: 955px;
    height: 420px;
    position: absolute;
    left: 158px;
    top: 242px;
}

.x_button{
    width: 26px;
    height: 26px;
    position: absolute;
    left: 90px;
    top: 448px;
}



#mega #right_area{
    flex: 1;
    background-color: #000;
    position: relative;
}

/*------------------------------------------------------------------------------------------------*/


body {
    position: relative;
}


.logo{
    position: fixed;
    top: 80px;
    left: 88px;
    z-index: 9999;
}

.topmenu{
    position: fixed;
    top: 80px;
    right: 88px;
    z-index: 9999;
}

.menu{
    position: fixed;
    top: 450px;
    left: 88px;
    z-index: 9999;
}

.lng{
    position: fixed;
    left: 88px;
    bottom:80px;
    z-index: 9999;
}

.topbutton{
    position: fixed;
    right: 88px;
    bottom: 80px;
    z-index: 9999;
}



#container{
    position: absolute;
    display: flex;
    flex-direction: column;
    width:100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}


#section01{
    width: 100vw;
    height: 100vh;
    background-color: #fff111;
    display: flex;
    scroll-snap-align: center;
}
















#footer{
    width: 100vw;
    height: 686px;
    position: relative;
    scroll-snap-align: center;
}














