#section04 .title{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 150px;
    left: 250px;
}
#section04 .title > div{
    margin-bottom: 25px;
}
#section04 .context{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    bottom: 0;
}
#section04 .context >div{
    display: flex;
    flex-direction: column;
    position: relative;
}
#section04 .context >div >.img_box{
    width: 528px;
    height: 842px;
    overflow: hidden;
}


#section04 .underline1{
    position: absolute;
    top: 75px;
    left: 35px;
    height: 2px;
    width: 0px;
    background-color: #0a4a94;
    z-index: 2;
}
#section04 .underline2{
    position: absolute;
    top: 120px;
    left: 35px;
    height: 2px;
    width: 0px;
    background-color: #0a4a94;
    z-index: 2;
}
#section04 .right .underline1, #section04 .right .underline2{
    left: 60px !important;
    background-color: #ac0114 !important;
}
#section04 .context .left:hover .underline1{
    width: 190px;
    transition: all 1s ease-in-out;
}
#section04 .context .right:hover .underline1{
    width: 240px;
    transition: all 1s ease-in-out;
}
#section04 .context >div:hover .underline2{
    width: 120px;
    transition: all .4s ease-in-out .9s;
}

#section04 .context >div >.img_box >img{
    transition: all 1s ease-in-out;
}
#section04 .context >div:hover >.img_box >img{
    transition: all 1.5s ease-in-out .3s;
    transform: scale(1.15);
}
#section04 .left{
    margin-right: 150px;
}
#section04 .context >div .text_box{
    position: absolute;
    bottom: 70px;
    right: 200px;
}

#section04 .text_box .button{
    position: absolute;
    left: 60px;
    bottom: 60px;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    flex-direction: row;
    cursor: pointer;
    justify-content: center;
}
#section04 .text_box .button:hover{
    text-decoration: underline;
    font-weight: 800;
}
#section04 .text_box .button .arrow{
    display: inline-block;
    position: relative;
    bottom: 4px;
}
#section04 .text_box .button:hover .arrow{
    animation: arrowMove .7s ease-in-out infinite 0s;
}

/* scroll transition */
#section04{
    opacity: 0;
}
#section04.on{
    opacity: 1;
}
#section04 .title{
    transition: all 0.7s ease-in-out;
    opacity: 0;
    transform: translateX(-50px);
}
#section04.on .title{
    opacity: 1;
    transform: translateX(0);
}
#section04 .text_box{
    transition: all 1.5s ease-in-out .2s;
    opacity: 0;
    transform: translateY(50px);
}
#section04.on .text_box{
    opacity: 1;
    transform: translateY(0);
}
#section04 .img_box{
    transition: all 1.5s ease-in .25s;
    opacity: 0;
}
#section04.on .img_box{
    opacity: 1;
}