#section01 .background{
    position: absolute;
    top: 120px;
    width: 100%;
    height: 500px;
    background-image: url("../../image/sub_purchase/sec01/marble_texture.jpg");
    background-size: cover;
}

#section01 .upper{
    position: absolute;
    top: 280px;
    left: 500px;
}
#section01 .main_container{
    position: relative;
    width: 350px;
    height: 371px;
}
#section01 .main_container .main{
    width: 626px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section01 .under{
    position: absolute;
    bottom: 20px;
    left: 425px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#section01 .under .tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
#section01 .under .tab >*{
    margin: 15px;
}
#section01 .under .tab >.tab_ui{
    margin: 15px;
    opacity: 0.5;
    border: 2px solid silver;
}
#section01 .under .tab >.tab_ui.on{
    border: 2px solid orange;
    opacity: 1;
}
#section01 .under #sc3_prev, #sc3_next{
    padding: 10px;
    cursor: pointer;
}
#section01 .under #sc3_prev:active, #sc3_next:active{
    transform: translateY(1.5px);
}

#section01 .right{
    position: absolute;
    right: 300px;
    top: 215px;
}
#section01 .right .title_box{
    position: relative;
}
#section01 .right .title_box >img:nth-child(2){
    margin-top: 20px;
    margin-bottom: 80px;
}
#section01 .right .title_box .shopping_bag{
    position: absolute;
    bottom: 15px;
    right: 35px;
}
#section01 .right .title_box .shopping_bag >img:nth-child(2){
    display: none;
}
#section01 .right .title_box .shopping_bag:active >img:nth-child(1){
    display: none;
}
#section01 .right .title_box .shopping_bag:active >img:nth-child(2){
    display: block;
}
#section01 .right .title_box .heart{
    position: absolute;
    bottom: 15px;
    right: 0px;
}
#section01 .right .title_box .heart >img:nth-child(2){
    display: none;
}
#section01 .right .title_box .heart:active >img:nth-child(1){
    display: none;
}
#section01 .right .title_box .heart:active >img:nth-child(2){
    display: block;
}

#section01 .right .text{
    margin-bottom: 30px;
}
#section01 .right .color{
    margin-top: 10px;
}
#section01 .right #ringForm{
    margin-top: 55px;
    margin-bottom: 25px;
}
#section01 .right #ringForm select{
    font-size: 1.05em;
    margin-right: 30px;
    padding: 0.65em 6.5em 0.65em 1.5em;
}
#section01 .right #ringForm select:last-child{
    margin-right: 0px;
}
#section01 .right .size_guide{
    text-decoration: underline;
    margin-top: 30px;
}
#section01 .right .button{
    margin-top: 90px;
}
#section01 .right .button_under{
    margin-top: 10px;
    margin-left: 30px;
    padding: 10px
}