#section04 .title_box{
    position: absolute;
    top: 80px;
    left: calc(50% - 175px);
}
#section04 .title_box >*{
    margin-bottom: 10px;
}


#section04 .box_container{
    position: absolute;
    top: 250px;
    left: calc(50% - 734px);
    display: flex;
    flex-direction: row;
}
#section04 .box_container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#section04 .box_container .box >*{
    margin-bottom: 25px;
}
#section04 .box_container .box .button:hover{
    filter: invert(1);
    cursor: pointer;
}
#section04 .indicator{
    position: absolute;
    bottom: 50px;
    left: calc(50% - 105px);
}


/* scroll transition */
#section04 .title_box{
    opacity: 0;
    transform: translateY(-80px);
}
#section04.on .title_box{
    opacity: 1;
    transform: translateY(0);
    transition: all .8s ease-in-out .15s;
}
#section04 .box_container .box{
    opacity: 0;
    transform: translateY(150px);
}
#section04.on .box_container .box:nth-child(1){
    opacity: 1;
    transform: translateY(0);
    transition: all .65s ease-in;
}
#section04.on .box_container .box:nth-child(2){
    opacity: 1;
    transform: translateY(0);
    transition: all .65s ease-in .3s;
}
#section04.on .box_container .box:nth-child(3){
    opacity: 1;
    transform: translateY(0);
    transition: all .65s ease-in .6s;
}
#section04.on .box_container .box:nth-child(4){
    opacity: 1;
    transform: translateY(0);
    transition: all .65s ease-in .9s;
}
#section04 .indicator{
    opacity: 0;
}
#section04.on .indicator{
    opacity: 1;
    transition: all .8s ease-in .5s;
}