@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* left */
#section02 .left{
    position: absolute;
    width: 945px;
    height: 100vh;
    overflow: hidden;
}
#section02 .left video{
    height: 100%;
    transform: translateX(-20%);
}

/* slider */
#section02 .slider{
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 600px;
    top: 10vh;
    width: calc(100vw - 600px);
    overflow-x: scroll;
    overscroll-behavior: none;
}
#section02 .slider{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
#section02 .slider::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
#section02 .slider .slide:nth-child(1){
    margin-left: 100px;
}
#section02 .slider .slide{
    margin-right: 100px;
    position: relative;
}
#section02 .slider .slide .img{
    width: 424px;
    height: 416px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
#section02 .slider .slide .text{
    position: absolute;
    bottom: 10px;
    left: -50px;
}


/* right */
#section02 .right{
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 1050px;
    bottom: 75px;
    align-items: center;
    justify-content: center;
}
#section02 .right .context{
    padding-bottom: 50px;
    margin-right: 200px;
}

/* scroll transition */
#section02 .left{
    opacity: 0;
}
#section02.on .left{
    animation: fadeIn 1.5s ease-in forwards .3s;
}
#section02 .slider{
    opacity: 0;
    transform: translateX(600px);
}
#section02.on .slider{
    opacity: 1;
    transform: translateX(0px);
    transition: all 1s ease-in-out .3s;
}
#section02 .right{
    opacity: 0;
    transform: translateY(100px);
}
#section02.on .right{
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease-in-out .15s;
}