#section03 .background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../image/sub_bezero1/sec03/bg_texture.jpg");
    background-size: cover;
}

#section03 .upper{
    position: absolute;
    top: 200px;
    left: 300px;
}
#section03 .main_container{
    position: relative;
    width: 626px;
    height: 450px;
}
#section03 .main_container .main{
    width: 626px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section03 .under{
    position: absolute;
    bottom: 100px;
    left: 370px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#section03 .under .tab{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
#section03 .under .tab >*{
    margin: 15px;
}
#section03 .under .tab >.tab_ui{
    margin: 15px;
    opacity: 0.5;
}
#section03 .under .tab >.tab_ui.on{
    border: 1px solid orange;
    opacity: 1;
}
#section03 .under #sc3_prev, #sc3_next{
    padding: 10px;
    cursor: pointer;
}
#section03 .under #sc3_prev:active, #sc3_next:active{
    transform: translateY(1.5px);
}

#section03 .text_box{
    position: absolute;
    right: 400px;
    top: 350px;
}
#section03 .text_box >img{
    margin-bottom: 50px;
    cursor: pointer;
}
#section03 .text_box .progress{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
#section03 .text_box .progress .bar{
    width: 100px;
    height: 1px;
    background-color: rgb(155,155,155);
    margin: 0 15px;
}
#section03 .text_box .progress .bar .trimPath{
    width: 0;
    height: 100%;
    background-color: black;
}
#section03 .text_box .progress.on .bar .trimPath{
    width: 100%;
    transition: all .8s ease-in-out .1s;
}

#section03 .scroll{
    position: absolute;
    right: calc(50vw - 30px);
    bottom: -30px;
}


/* scroll transition */
#section03 .background{
    opacity: 0;
}
#section03.on .background{
    opacity: 1;
    transition: all 2s ease-in .2s;
}
#section03 .upper{
    opacity: 0;
    transform: translateY(-80px);
}
#section03.on .upper{
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease-in .5s;
}
#section03 .under{
    opacity: 0;
    transform: translateY(80px);
}
#section03.on .under{
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s ease-in .2s;
}
#section03 .text_box{
    opacity: 0;
    transform: translateX(100px);
}
#section03.on .text_box{
    opacity: 1;
    transform: translateX(0px);
    transition: all 1s ease-in-out;
}
#section03 .scroll{
    opacity: 0;
    transform: translateY(-20px);
}
#section03.on .scroll{
    opacity: 1;
    transform: translateY(0px);
    transition: all 1.5s ease-in-out 1s;
}