#section04 .title_box{
    position: absolute;
    top: 80px;
    left: calc(50% - 175px);
}
#section04 .title_box >*{
    margin-bottom: 10px;
}


#section04 .box_container{
    position: absolute;
    top: 250px;
    left: calc(50% - 734px);
    display: flex;
    flex-direction: row;
}
#section04 .box_container .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#section04 .box_container .box >*{
    margin-bottom: 25px;
}
#section04 .box_container .box .button:hover{
    filter: invert(1);
    cursor: pointer;
}
#section04 .indicator{
    position: absolute;
    bottom: 50px;
    left: calc(50% - 105px);
}