@keyframes arrowVerticalMove {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(20px);
    }
}

#section01 .background{
    position: absolute;
    width: 100%;
    height: 500px;
    bottom: 0;
    background-image: url("../../sub_high_jewerly/sec01/sec01_bg1.jpg");
    z-index: -1;

    opacity: 0;
    transition: all 1s ease-in-out;
}
#section01.on .background{
    opacity: 1;
}

/* button */
#section01 .slider-control{
    position: absolute;
    right: 260px;
    bottom: 150px;
    display: flex;
    flex-direction: column;
    z-index: 5;
}
#section01 .slider-control >div{
    padding: 15px;
    cursor: pointer;
    filter: invert(0.7);
}
#section01 .slider-control >div:hover{
    filter: invert(0);
}
#section01 .button{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 150px;
    left: 280px;
    padding: 20px;
    cursor: pointer;
    z-index: 5;
}
#section01 .button:hover{
    font-weight: bolder;
    text-decoration: underline;
}
#section01 .button .arrow{
    margin-top: 20px;
}
#section01 .button:hover .arrow{
    animation: arrowVerticalMove 1s ease-in-out infinite 0s;
}



/* slider */
#section01 .slider{
    position: relative;
    width: 100vw;
    min-width: 1920px;
    height: 100vh;
}
#section01 .slider .slider__item{
    position: absolute;
    width: 100%;
    height: 100%;
    
    opacity: 0;
    z-index: -1;
    transition: opacity 1s ease-in-out;
}
#section01 .slider .slider__item.on{
    opacity: 1;
    z-index: 1;
}

/* text_box */
#section01 .slider .slider__item .text_box{
    position: absolute;
    left: 300px;
    width: 50vw;
    height: 80vh;
}
#section01 .slider .slider__item .text_box .title{
    position: absolute;
    top: 100px;
}
#section01 .slider .slider__item .text_box .title >img:last-child{
    position: absolute;
    right: 100px;
    bottom: 10px; 
}
#section01 .slider .slider__item .text_box .context{
    position: absolute;
    top: 400px;
}
#section01 .slider .slider__item .text_box .context img{
    margin-bottom: 50px;
}

/* img_box */
#section01 .slider .slider__item .img_box1{
    position: absolute;
    right: 585px;
    top: 335px;
    z-index: 1;
}
#section01 .slider .slider__item .img_box1 >img{
    position: relative;
    left: 40px;
    bottom: 40px;
}
#section01 .slider .slider__item .img_box2{
    position: absolute;
    right: 300px;
    bottom: 0;
}


/* scroll transition */
#section01{
    opacity: 0;
}
#section01.on{
    opacity: 1;
}
#section01 .button{
    opacity: 0;
}
#section01.on .button{
    opacity: 1;
    transition: opacity 1s ease-in-out .3s;
}
#section01 .slider .slider__item .text_box .title{
    transform: translateX(-200px);
    opacity: 0;
    transition: all .8s ease-in-out;
}
#section01.on .slider .slider__item .text_box .title{
    transform: translateX(0);
    opacity: 1;
}
#section01 .slider .slider__item .text_box .context{
    transform: translateX(-350px);
    opacity: 0;
    transition: all 1s ease-in-out;
}
#section01.on .slider .slider__item .text_box .context{
    transform: translateX(0);
    opacity: 1;
}
#section01 .slider .slider__item .img_box1{
    transform: translateY(200px);
    opacity: 0;
    transition: all .8s ease-in-out;
}
#section01.on .slider .slider__item .img_box1{
    transform: translateX(0);
    opacity: 1;
}
#section01 .slider .slider__item .img_box2{
    transform: translatex(400px);
    opacity: 0;
    transition: all 1.15s ease-in-out .15s;
}
#section01.on .slider .slider__item .img_box2{
    transform: translatex(0);
    opacity: 1;
}
/* #section01 .slider-control{
    transform: translatex(400px);
    opacity: 0;
    transition: all 1.15s ease-in-out .15s;
}
#section01.on .slider-control{
    transform: translatex(0);
    opacity: 1;
} */