body {
    position: relative;
}

/* #cursor{
    position: absolute;
    width: 154px;
    height: 154px;
    cursor: none;
    z-index: 999;
}
#cursor > div{
    display: none;
    position: absolute;
}
#cursor.mov1 >div:nth-child(1){
    display: block;
    opacity: 1;
    background-image: url("../../sub_high_jewerly/sec01/wings-of-rome_playbutton.png");
}
#cursor.mov2 >div:nth-child(2){
    display: block;
    opacity: 1;
    background-image: url("../../sub_high_jewerly/sec01/mosaico_play_button.png");
}
#cursor.mov3 >div:nth-child(3){
    display: block;
    opacity: 1;
    background-image: url("../../sub_high_jewerly/sec01/sapire_play_button.png");
} */
#container{
    position: absolute;
    /* display: flex;
    flex-direction: column; */
    width: 100vw;
    height: 100vh;
    /* overflow-x: hidden; */
    overflow-y: scroll;
    /* scroll-snap-type: y mandatory; */

    -ms-overflow-style: none;
    scrollbar-width: none;
}
#container::-webkit-scrollbar{
    display:none;
}

section{
    position: relative;
    min-width: 1920px;
    width: 100vw;
    height: 100vh;
    display: flex;
    scroll-snap-align: center;
}
#footer{
    width: 100%;
    height: 686px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(1, 6, 2);
    /* scroll-snap-align: end; */
}
.location_bar{
    position: absolute;
    right: 100px;
    top: calc(50% - 100px);
    z-index: 5;
}