body {
    position: relative;
}

#cursor{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    pointer-events: none;
}
#container{
    position: absolute;
    /* display: flex;
    flex-direction: column; */
    width: 100vw;
    height: 100vh;
    /* overflow-x: hidden; */
    overflow-y: scroll;
    /* scroll-snap-type: y mandatory; */

    -ms-overflow-style: none;
    scrollbar-width: none;
}
#container::-webkit-scrollbar{
    display:none;
}

section{
    position: relative;
    min-width: 1920px;
    width: 100vw;
    height: 100vh;
    display: flex;
    scroll-snap-align: center;
}
#footer{
    width: 100%;
    height: 686px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(1, 6, 2);
    /* scroll-snap-align: end; */
}
.location_bar{
    position: absolute;
    right: 100px;
    top: calc(50% - 100px);
    z-index: 5;
}

.pop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
    transition: all .5s;
}
.pop.on{
    /* display: block; */
    opacity: 1;
    z-index: 999999;
}
.pop .videoContainer{
    display: none;
}
.pop.video1 .videoContainer:nth-child(1){
    display: inline-block;
}
.pop.video2 .videoContainer:nth-child(2){
    display: inline-block;
}
.pop.video3 .videoContainer:nth-child(3){
    display: inline-block;
}